/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2017, 11:16:44 AM
    Author     : Student
*/
@font-face {
    font-family: SEGA;
    src: url(fonts/SEGA.TTF);
}

@font-face {
    font-family: bomb;
    src: url(fonts/bomb.ttf);
}

@font-face {
    font-family: social;
    src: url(fonts/social_shapes.ttf);
}

body{
   background-color: black;
}
div {
    padding-top: 195px;
}

#title{
    font-size: 100px;
    color: white;
    font-family: arial;
    font-weight: bold;
}

#sub{
    font-size: 25px;
    padding-top: 1px;
    color: white;
    margin-bottom: 20px;
    font-family: arial;
    font-weight: bold;
}

#line{
    width: 70%;
    height: 4px;
    margin: 0 auto;
    background-color: white;
    border: none;
}

#buttons{
    display: inline-block;
    text-align: center;
    margin-left: 200px;
    width: 80%;
    padding-top: 20px;
}

#topbuttons{
    font-size: 25px;
    margin-right: 120px;
    border: none;
    background: none;
    color: white;
    font-family: arial;
    font-weight: bold;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

#topbuttons:hover {
  opacity: 0.75;
}

.social{
    margin-bottom: auto;
    background: none;
    text-align: center;
    padding-top: 150px;
}

#socialbuttons{
    background: none;
    border: none;
    color: white;
    font-family: social;
    font-size: 50px;
    opacity: 1;
    transition: all 0.3s ease 0s;
}
 
 #socialbuttons:hover {
  opacity: 0.75;
}

audio {
    background-color: black;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}